* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

.nav1 {
    background-color:rgba(45,45,45,0.98);
    width: 100%;
}

.navcontents {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  align-items: center;
}

.nav1content>a {
  text-decoration: none;
  color: white;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.content1 {
  padding: 20px 0;
}

.content1,
.content2,
.content3 {
  text-align: center;
  background-color: black;
  color: white;
}
