* {
  box-sizing: border-box;
  // border: 2px solid black;
}

body {
  width: 100%;
}

@import "mixins";

.nav1 {
    background-color:rgba(45,45,45,0.98);
    width: 100%;
}

.navcontents {
  @include margin;
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  height: 45px;
  align-items: center;
}

.nav1content>a {
  text-decoration: none;
  color: white;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.nav1content>img {
  height: 20px;
  width: auto;
}

// .limited>p {
//   border: 1px solid white;
//   border-radius: 25%;
// }

.content1 {
  padding: 20px 0;
}

.content1,
.content2,
.content3 {
  text-align: center;
  background-color: black;
  color: white;
}

.content2>img,
.content3>img,
.light-subcontent1>img {
  width:100%;
  height: auto;
}


.lightcontent {
  display: flex;
}

.light-content1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.light-content2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.light-subcontent2 {
  @include margin;
  text-align: center;
  width: 48%;
  border: 2px solid lightgray;
}

.light-subcon>img {
  width: 100%;
  height: auto;
}

.footer-content {
  @include margin;
  width: 70%;
}

.footer {
  background-color: lightgray;
  width: 100%
}

@media screen and (max-width: 760px) {
  .light-subcontent2 {
    width: 100%;
  }
}
